<!--html declaration-->
<!DOCTYPE html>
<!--html code-->
<html>
    <!--head of the code-->
    <head>
        <!--telling browser which character encoding to use when reading-->
        <meta charset="UTF-8">
        <!--adding a title-->
        <title>Portfolio - Ethan Baird</title>
        <!--linking the css-->
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <!--body of the code-->
    <body>
        <!--creating header-->
        <header>
            <!--semantic element-->    
            <nav>
                <!--profile picture-->
                <img src="/images/Camaro.jpg" alt="Ethan Baird" class="logo">
                <strong>Ethan Baird</strong>
                <!--list for pages for portfolio-->
                <ul>
                    <!--pages-->
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT ME</a></li>
                    <li><a href="/projects">PROJECTS</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </nav>
        </header>
        <!--main section of website-->
        <main>
            <!--defining section id-->
            <section id="about">
                <!--writing header for my about me-->
                <h1>About Me</h1>
                <!--paragraph about me-->
                <p>Hello, my name is Ethan Baird. I am a 19-year-old student at Ontario Tech University. 
                    I enjoy learning new things and discovering what I am capable of doing. Some of my hobbies 
                    are cars and playing video games sometimes. Finally, but most importantly, I believe in God 
                    who exists as three coequal persons: the Father, the Son, and the Holy Spirit.</p>

                <!--introduction video header-->
                <h2>My Introduction Video</h2>
                <!--video-->
                <video width="600" height="300" controls>
                    <source src="/videos/BMW M5.mp4" type="video/mp4">
                </video>
            </section>
        </main>
        <!--creating footer-->
        <footer>
            <p>@ 2025 by <strong>Ethan Baird</strong></p>
        </footer>
    </body>
</html>