<!--html declaration-->
<!DOCTYPE html>
<!--html code-->
<html>
    <!--head of the code-->
    <head>
        <!--telling browser which character encoding to use when reading-->
        <meta charset="UTF-8">
        <!--adding a title-->
        <title>Portfolio - Ethan Baird</title>
        <!--linking the css-->
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <!--body of the code-->
    <body>
        <!--creating header-->
        <header>
            <!--semantic element-->    
            <nav>
                <!--profile picture-->
                <img src="/images/Camaro.jpg" alt="Ethan Baird" class="logo">
                <strong>Ethan Baird</strong>
                <!--list for pages for portfolio-->
                <ul>
                    <!--pages-->
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT ME</a></li>
                    <li><a href="/projects">PROJECTS</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </nav>
        </header>
        <!--main section of website-->
        <main>
            <!--creating section id-->
          <section id="projects">
            <!--my project header-->
            <h1>My Projects</h1>
            <article>
                <!--project 1 header-->
                <h2>Final Essay</h2>
                <p>In Writing and Critical Thinking, I wrote a final essay evaluating two candidates for the 
                    Ontario Tech University Board of Governors, Jordan Jacobs (AI and technology) and Ahmad 
                    Ghahreman (sustainability and recycling). I based my evalutaions on our universities specific 
                    priorities like student success, innovation, industry partnerships, or Co-op, etc. Based on this, 
                    Jordan Jacobs is the better fit due to his expertise in AI innovation, and his goals align with 
                    our university's priorities.
                </p>
            </article>
            <article>
                <!--project 2 header-->
                <h2>Grade Book project</h2>
                <p>In Object Oriented Programming, I created python code that would emulate a teachers gradebook for a 
                    student. In this code, you could create a student by making their student id and linking it with their 
                    name, then you can enroll them into a class and enter a grade for them. My code also wouldnt let you 
                    enroll a student for a class that they were already in, as well as it won't let you enter a grade for 
                    a student that wasn't in a certian class, or didn't exist.
                </p>
            </article>
            <article>
                <!--project 3 header-->
                <h3>AI Chatbot Report Draft</h3>
                <p>I wrote a report draft as if I were working for Meta (aka Facebook and Instagram), proposing the idea of 
                    using AI chatbots to more efficiently deal with customer service and fix long wait times. My final report 
                    evaluates Rule-Based AI, Machine Learning AI, and Hybrid AI-Human chatbot models. My recommendation was to 
                    use Hybrid AI-Human chatbot models due to their low operational costs and due to Hybrid models being the 
                    most efficient in responding to customers.
                </p>
            </article>
            <article>
                <!--project 4 header-->
                <h4>Boxing Ring Woodshop Project</h4>
                <p>I created a boxing ring made out of wood in my high school woodshop class. To make this, I used tools like 
                    the drill press, the sander, the chisel, and a 3d printer. I made the blueprints for this in AutoCAD and Revit.
                </p>
            </article>
        </section>
        </main>
        <!--creating footer-->
        <footer>
            <p>@ 2025 by <strong>Ethan Baird</strong></p>
        </footer>
    </body>
</html>